$db-gallery-bg-color: silver;

.db-gallery {

  &__close {
    position: fixed;
    top: 0;
  }
  background-color: $db-gallery-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  &__list {

  }
}

.gallery-items {
  &__item {
    float:left;
    width: 20%;
    margin: 20px;
  }
}
